footer{
    background-color: var(--first_color);
    color: var(--white_color);
    text-align: center;
    padding: .5rem;
    margin-bottom: var(--header_height);
}

@media screen and (min-width: 992px){
    .footer{ margin-bottom: 0; }
}